* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    height: 380px;
    width: 380px;
    display: flex;
    flex-wrap: wrap;
    border: 30px solid red;
    border-radius: 5px;
    margin: 20px auto;
}

.squares {
    height: 20px;
    width: 20px;
    border: 1px solid black;
    margin: 0;
}

