* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    height: 380px;
    width: 380px;
    display: flex;
    flex-wrap: wrap;
    border: 30px solid red;
    border-radius: 5px;
    margin: 20px auto;
}

.squares {
    height: 20px;
    width: 20px;
    /* border: 1px solid black; */
    margin: 0;
    cursor: pointer;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    
    padding: 8px 15px;
    background-color: rgb(92, 92, 92);
    color: white;
    font-size: 1.6rem;
    border: none;
    border-radius: 3px;
    margin: 10px 15px;
    cursor: pointer;
}

.button:hover {
    background-color:rgb(117, 117, 117);
}